# nginx-setup.config

server {
    listen 80;
    server_name _;

      location /static/ {
        alias /app/static/;  # Ensure this points to the directory where static files are collected
        expires 30d;
    }

    # Serve Django media files
    location /media/ {
        alias /app/media/;  # Ensure this points to the directory where media files are stored
        expires 30d;
    }

    # Proxy requests to Django backend
    location /api/ {
        proxy_pass http://backend:8000;  # Name of the backend service in docker-compose
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    # Proxy requests to React frontend
    location / {
        try_files $uri /index.html =404;
        root /app/attendance-frontend/build/;
    }
}
